/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-blue,900);
$my-app-accent: mat-palette($mat-blue, 800, 700, 600);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #2940A4;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

mat-icon{
    font-family: 'Material Icons' !important;
}

