<mat-sidenav-container class="site-container">
  <mat-sidenav #sidenav (keydown.escape)="close()" mode="push" position="end">
    <h1>BlockPush admin</h1>
    <ul>
      <li>
        <a [ngClass]="menuLink == 'coins' && viewLink == 'all'?'selected':''" routerLink="/coins/all"><mat-icon>monetization_on</mat-icon> Coins list</a>
      </li>
      <li>
        <a [ngClass]="menuLink == 'coins' && viewLink == 'online'?'selected':''" routerLink="/coins/online"><mat-icon>domain</mat-icon> Organizations List</a>
      </li>
      <li>
        <a [ngClass]="menuLink == 'coins' && viewLink == 'repositories'?'selected':''" routerLink="/coins/repositories"><mat-icon>domain</mat-icon> Repositories List</a>
      </li>
      <li>
        <a [ngClass]="menuLink == 'coins' && viewLink == 'members'?'selected':''" routerLink="/coins/members"><mat-icon>domain</mat-icon> Members List</a>
      </li>
      <li>
        <a [ngClass]="menuLink == 'tracker'?'selected':''"><mat-icon>sync</mat-icon> Tracker</a>
      </li>
      <li>
        <a [ngClass]="menuLink == 'stats'?'selected':''"><mat-icon>graphic_eq</mat-icon> Statistics</a>
      </li>
    </ul>
  </mat-sidenav>
    
  <mat-sidenav-content>
    <header>  
      <h1 routerLink="/coins/all">BlockPush admin</h1>
      <a (click)="sidenav.open()" class="menu-button"><mat-icon>menu</mat-icon></a>
      <div class="market-bar clearfix"  *ngIf="marketData$ | async as marketData">
        <p><b>Market Cap:</b> {{marketData.marketCap | currency:'USD':'symbol-narrow':'4.0'}}</p>
        <p><b>24h Volume:</b> {{marketData.volume | currency:'USD':'symbol-narrow':'4.0'}}</p>
        <p><b>BTC ratio:</b> {{marketData.bitcoinShare}}%</p>
        <p><b>Online coins:</b> {{ coinsDataOnline$ | async }}/{{coinsDataCount$ | async }}</p>
      </div>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>